<footer>
    <div class="container-fluid div-footer">
        <div class="row">
             <div class="col-12"> 
                 <div class="footer-center">                  
                 <ul>
                     <li><a href="https://www.linkedin.com/in/aldo-gabriel-ayala/"><img src="https://i.ibb.co/VTMxHVt/in.png" class="img-footer" alt="Linkedin"/></a></li>
                     <li><a href="https://github.com/aldogayala14"><img src="https://i.ibb.co/9Hk8dTN/gihub.png" class="img-footer" alt="Github"/></a></li>
                 </ul>
             </div>
             </div>
        </div>
    </div>
 </footer>
