<section>
  <article class="educacion">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10">
          <h4>Proyectos</h4>
        </div>
        <div class="col-2 div_add" *ngIf="isLogged">
          <i class="fa-solid fa-plus" (click)="openModalAdd();"></i>
        </div>
      </div>
    </div>
    <div>
      <ul class="items-list">
        <li *ngFor="let item of projectData; let i = index;">
          <div class="container-fluid contenedor-educacion">
            <div class="row">
              <div class="col-2">
                <img [src]="item.image" alt="logo-proyecto" class="img-thumbnail img-logo-responsive" />
              </div>
              <div class="col-8 descripcion-experiencia">
                <h5>{{item.name}}</h5>
                <p><time>{{item.projectStart}}</time> - <time>{{item.projectEnd}}</time></p>
                <p><a [href]="item.url">{{item.url}}</a></p>
              </div>
              <div class="col-2 div_deladd" *ngIf="isLogged">
                <ul>
                  <li><i class="fa-solid fa-trash" (click)="openModalDelete(item.id)"></i></li>
                  <li><i class="fa-solid fa-pen" (click)="openModalEdit(item.id,
                    item.name,
                    item.image,
                    item.projectStart,
                    item.projectEnd,
                    item.url)"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </article>
</section>


<ng-template #contenidoProject let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Cargar proyecto</h5>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="saveProject()" novalidate>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Nombre:</label>
        <input type="text" class="form-control" id="recipient-name" [(ngModel)]="name" name="name"
          required>
        <label for="recipient-image" class="col-form-label">Imagen:</label>
        <input type="text" class="form-control" id="recipient-image" [(ngModel)]="image"
          name="image" required>
        <label for="recipient-start" class="col-form-label">Inicio proyecto:</label>
        <input type="text" class="form-control" id="recipient-start" [(ngModel)]="projectStart" name="projectStart" required>
        <label for="recipient-end" class="col-form-label">Fin Proyecto:</label>
        <input type="text" class="form-control" id="recipient-end" [(ngModel)]="projectEnd"
          name="projectEnd" required>
        <label for="recipient-url" class="col-form-label">URL:</label>
        <input type="text" class="form-control" id="recipient-url" [(ngModel)]="url" name="url"
          required>              
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="modal.close()">Guardar cambios</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close()">Cerrar</button>
      </div>
    </form>
  </div>

</ng-template>


<ng-template #editProjectForm let-modalEdit>
  <div class="modal-header">
    <h5 class="modal-title">Editar proyecto</h5>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="editProject()" novalidate>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Nombre:</label>
        <input type="text" class="form-control" id="recipient-name" [(ngModel)]="name" name="name"
          required>
        <label for="recipient-image" class="col-form-label">Imagen:</label>
        <input type="text" class="form-control" id="recipient-image" [(ngModel)]="image"
          name="image" required>
        <label for="recipient-start" class="col-form-label">Inicio proyecto:</label>
        <input type="text" class="form-control" id="recipient-start" [(ngModel)]="projectStart" name="projectStart" required>
        <label for="recipient-end" class="col-form-label">Fin Proyecto:</label>
        <input type="text" class="form-control" id="recipient-end" [(ngModel)]="projectEnd"
          name="projectEnd" required>
        <label for="recipient-url" class="col-form-label">URL:</label>
        <input type="text" class="form-control" id="recipient-url" [(ngModel)]="url" name="url"
          required>              
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="modalEdit.close()">Guardar cambios</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalEdit.close()">Cerrar</button>
      </div>
    </form>

  </div>  
</ng-template>

<ng-template #deleteProject let-modalDelete>
  <div class="modal-header">
    <h5 class="modal-title">¿Eliminar proyecto?</h5>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group">
        <p>
          Si elimina un elemento, este se eliminara permanentemente.
        </p>
       </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" (click)="modalDelete.close(); delete()">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modalDelete"
          (click)="modalDelete.close()">Cerrar</button>
      </div>
    </form>
  </div>
</ng-template>

