/* You can add global styles to this file, and also import other style files */
body{
    padding: 1em;
}

@media screen and (max-width: 600px) {
    .img-login {
      display: none;
    }

  }

@media screen  and (min-width: 800px) {
    .img-logo-responsive{
        width: 8em;
        height: 8em;
    }
}

.portada{   
    height: 450px;
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/aldogayala14/PortfolioWebFullStack/main/Front-End/images/header.jpg);
    background-size: cover;
    position: relative;    
}

.foto{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: crimson;    
    margin: 330px 2.5em 2.5em; 
    position: absolute;
}

.editar-perfil{   
    position: absolute;    
    margin: 500px 20em 5em;
}

.edit-category{
    float: right;
}

#nombre_usuario{
    margin-top: 85px;       
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif, 'Roboto';
    font-weight: bold;   
    font-size: 1.7em; 
}

.descripcion{
    margin-left: 2.5em;  
    margin-top: 0px;  
    margin-bottom: 0px;
}

.descripcion p{
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.descripcion ul{
    margin-top: 0px;
    margin-bottom: 0px;
}

.info_contacto{
    padding: 0px;         
    margin-top: 0px;  
    margin-bottom: 0px;      
}


.info_contacto li{
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
    display: inline-block;
}

.nav-bar ul li{
    float: left;
    list-style-type: none;  
    
}

.nav-bar ul li button{
     margin-right: 0.4rem;        
}

#logo_right{    
    padding: 2em;     
}

#logo_right ul{
    padding: 1em;
}

#logo_arg ul li{        
   float: left;
   list-style-type: none;  
}

#login ul li{
    float: right;
    list-style-type: none;
    padding: auto;
    margin: 0.5em;
}


.img-login{
    width: 2.3em;
    height: 2.3em;
}

.img-logo-desc{
    width: 50px;
    height: 50px;
}

.li_arg{   
    font-weight: bold;
    margin-top: 1em;
    margin: 0.5em;
}

.head_group{
    padding-bottom: 3em;
    background-color: #4C75A3;    
    border-radius: 1%;  
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;   
}

.div_editar{  
    padding: 1em;
    text-align: right;
}

.edit{
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
}
.acerca{    
    margin-top: 1em;
    background-color: #4C75A3;    
    border-radius: 1%;
    padding: 1em;   
    font-weight:bold; 
    font-family: Arial, Helvetica, sans-serif;   
}

.experiencia{
    margin-top: 1em;
    background-color: #b2b9e1;    
    border-radius: 10%;
    padding: 1em;
}

.descripcion-experiencia h5{
    margin: 0px;
}

.descripcion-experiencia p{
    margin: 0px;
}

.add{
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
}

.delete{
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
}

.div_add{
    padding: 1em;
    text-align: right;
}

.div_deladd{
    padding: 1em;
    text-align: right;
}

.div_deladd ul li{
    list-style-type: none;
    float:right;
    margin-top: 0px;
   margin-left: 0.5rem;
}



.educacion{
    margin-top: 1em;
    background-color: #f5f5f5;    
    border-radius: 1%;
    padding: 1em;
}

.contenedor-educacion div{
    margin-top: 10px;
}


.div-footer{
    margin-top: 1em;
    background-color: #4C75A3;    
    border-radius: 1%;
    padding: 1em;   
    text-align: center;
    
}

.div-footer div div ul {
    display:inline-block;   
}

.div-footer div ul li{
    list-style-type: none;
    padding: 1em;
    float: left;
      
}



.img-footer{
    width: 50px;
    height: 50px;
}


.img-logo{
    width: 8em;
    height: 6em;
}



.container-progress{
    margin: 1em;
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 8px;   
    box-shadow: 5px 5px 10px rgba(146, 142, 142, 0.808); 
    display: grid;
    place-items: center;
}


.circular-progress{
    position: relative;
    height: 90px;
    width: 90px;
    background-color: orange;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.circular-progress::before{
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff;
    border-radius: 50%;

}

.value-container{
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 80%;
    color: #231c3d;
}

.value-skill{
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 80%;
    font-weight: bold;
    color: #231c3d;
}


.proyectos{
    margin-top: 1em;
    background-color: ghostwhite;    
    border-radius: 1%;
    padding: 1em;
}

.items-list li{
    list-style-type: none;
}

.div-container{
    margin: 1em;
}

.div-info{
    margin-top:9em;
    margin-left: 3em;
}

.contact-info{
    margin-left: 1em;
}
.modalFooter{
    float: right;
}


.div-editskill ul{
    text-align: center;
    margin-left: 2em;
}
.div-editskill ul li{
    list-style-type: none;    
    float:left;
    margin-top: 0px;
    margin-left: 1em;
   margin-right: 1em;
}
